@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

body {
  font-family: 'Ibarra Real Nova', serif !important;
  background-color: #131722 !important;
  color: #fff !important;
}

.xxl
{
  font-size: larger;
  font-weight: 600;
}
/****************************text colors**********************************/
.text-white {
  color: #fff !important;
}

.text-grey {
  color: #949cb0;
}


a, a:hover, Link, Link:hover {
  color: #fff;
  text-decoration: none;
}

/****************************background**********************************/
.bg-teal {
  background-color: #037cd2;
  border-radius: 5px;
}

.bg-transparent {
  background-color: transparent !important;
}

.bgLight {
  background-color: #24baef !important;
}

/****************************form and inputs**********************************/
.form-control {
  background: transparent !important;
  color: #fff !important;
}


/****************************cursor**********************************/

.cursorPointer {
  cursor: pointer !important;
}

.cursorNotAllowed {
  cursor: not-allowed !important;
}

/****************************borders**********************************/

.brdrGrey {
  background-color: #a8a8a83d;
  height: 1px;
}

/****************************Icons**********************************/
.fa-left-right {
  font-size: 2.46rem;
}
/*****************************displaying***************************/
.d-none
{
  display: none;
}

/************************Images***********************************/
.imgDiv{

  width: 5%;
}
/***********************Heights************************************/
.h-200
{
  height: 200px !important;
}
/******************************LOADING SCREEN********************/
.loadingScreen
{
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #131722 !important;
}
/**************************************DISABLED DROPDOWN LISTS******************************/
.disabled
{
  background-color: rgb(186,191,193)!important;
  color: black !important;
}